# Gradle
.gradle
build/

# Android
*.apk
*.aar
*.ap_
*.dex
*.class
bin/
gen/
local.properties
.externalNativeBuild
.cxx
captures/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Mac
.DS_Store

# Gradle Wrapper
!gradle/wrapper/gradle-wrapper.jar
!gradlew
!gradlew.bat
